<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.topflow.dao.inter.TmQuestionMapper">
  <resultMap id="BaseResultMap" type="net.topflow.dao.model.TmQuestion">
    <result column="ID" jdbcType="BIGINT" property="id" />
    <result column="CASE_NO" jdbcType="VARCHAR" property="caseNo" />
    <result column="QUESTION" jdbcType="VARCHAR" property="question" />
    <result column="QUESTION_RIGHT_ANS" jdbcType="VARCHAR" property="questionRightAns" />
    <result column="QUESTION_TYPE" jdbcType="VARCHAR" property="questionType" />
    <result column="USAGE_FLAG" jdbcType="VARCHAR" property="usageFlag" />
    <result column="CREATED_DATETIME" jdbcType="TIMESTAMP" property="createdDatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CASE_NO, QUESTION, QUESTION_RIGHT_ANS, QUESTION_TYPE, USAGE_FLAG, CREATED_DATETIME
  </sql>
  <select id="selectByExample" parameterType="net.topflow.dao.model.TmQuestionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tm_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="net.topflow.dao.model.TmQuestionExample">
    delete from tm_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.topflow.dao.model.TmQuestion">
    insert into tm_question (ID, CASE_NO, QUESTION, 
      QUESTION_RIGHT_ANS, QUESTION_TYPE, USAGE_FLAG, 
      CREATED_DATETIME)
    values (#{id,jdbcType=BIGINT}, #{caseNo,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, 
      #{questionRightAns,jdbcType=VARCHAR}, #{questionType,jdbcType=VARCHAR}, #{usageFlag,jdbcType=VARCHAR}, 
      #{createdDatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="net.topflow.dao.model.TmQuestion">
    insert into tm_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="caseNo != null">
        CASE_NO,
      </if>
      <if test="question != null">
        QUESTION,
      </if>
      <if test="questionRightAns != null">
        QUESTION_RIGHT_ANS,
      </if>
      <if test="questionType != null">
        QUESTION_TYPE,
      </if>
      <if test="usageFlag != null">
        USAGE_FLAG,
      </if>
      <if test="createdDatetime != null">
        CREATED_DATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="caseNo != null">
        #{caseNo,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="questionRightAns != null">
        #{questionRightAns,jdbcType=VARCHAR},
      </if>
      <if test="questionType != null">
        #{questionType,jdbcType=VARCHAR},
      </if>
      <if test="usageFlag != null">
        #{usageFlag,jdbcType=VARCHAR},
      </if>
      <if test="createdDatetime != null">
        #{createdDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.topflow.dao.model.TmQuestionExample" resultType="java.lang.Long">
    select count(*) from tm_question
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tm_question
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.caseNo != null">
        CASE_NO = #{record.caseNo,jdbcType=VARCHAR},
      </if>
      <if test="record.question != null">
        QUESTION = #{record.question,jdbcType=VARCHAR},
      </if>
      <if test="record.questionRightAns != null">
        QUESTION_RIGHT_ANS = #{record.questionRightAns,jdbcType=VARCHAR},
      </if>
      <if test="record.questionType != null">
        QUESTION_TYPE = #{record.questionType,jdbcType=VARCHAR},
      </if>
      <if test="record.usageFlag != null">
        USAGE_FLAG = #{record.usageFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDatetime != null">
        CREATED_DATETIME = #{record.createdDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tm_question
    set ID = #{record.id,jdbcType=BIGINT},
      CASE_NO = #{record.caseNo,jdbcType=VARCHAR},
      QUESTION = #{record.question,jdbcType=VARCHAR},
      QUESTION_RIGHT_ANS = #{record.questionRightAns,jdbcType=VARCHAR},
      QUESTION_TYPE = #{record.questionType,jdbcType=VARCHAR},
      USAGE_FLAG = #{record.usageFlag,jdbcType=VARCHAR},
      CREATED_DATETIME = #{record.createdDatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>